name: Sync Chunk Job

on:
  schedule:
    - cron: "0 */1 * * *"
  workflow_dispatch:

jobs:
  sched-job-0:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v2
        with:
          ref: master
          fetch-depth: 0 #
          
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          
      - uses: actions/setup-node@v2
      
      - id: beforechunk
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: project-violet/chunk
          token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: 'Get Previous tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        
      - name: A
        run: |
          npm install -g @babel/runtime 
          npm install -g github-release-cli
          sudo apt-get install p7zip
          chmod 777 hsync
          wget https://github.com/violet-dev/sync-data/releases/download/${{ steps.previoustag.outputs.tag }}/data.db
          export COOKIE="ipb_member_id=2742770; ipb_pass_hash=622fcc2be82c922135bb0516e0ee497d; sl=dm_2; sk=t8inbzaqn45ttyn9f78eanzuqizh; igneous=hez0uu1qwsa7r91eqpt"
          python3 sync-chunk.py ${{ secrets.TOKEN }}
          
      - name: Revision
        run: |
          git config --local user.email "violet.dev.master.bot@gmail.com"
          git config --local user.name "violet-dev-bot"
          git config --global pull.rebase false
          git add syncversion.txt
          git commit -m "update job"
          git pull
          
      - name: Push
        id: trypush
        uses: ad-m/github-push-action@master
        with:
          branch: 'master'
          github_token: $

      - id: afterchunk
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: project-violet/chunk
          token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Noti Success
        if: success()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook:  ${{ secrets.DISCORD_WEBHOOK }}
          color: 0x28e1ff
          nodetail: true
          description: |
            Chunk Update
            Post: ${{ steps.beforechunk.outputs.release }}, Pre: ${{ steps.afterchunk.outputs.release }}

      - name: Noti Fail
        if: failure()
        uses: sarisia/actions-status-discord@v1
        with:
          webhook:  ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          color: 0xff9300
          content: "<@614104830738169877>"
          description: |
            Chunk Update Fail
            Post: ${{ steps.beforechunk.outputs.release }}
            CI Log: [${{ github.ref }} / ${{ github.sha }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
